/*
    You can add your own custom styles here.
*/

:root {
    --code-background-color: rgba(0, 0, 0, 0.12);
    --code-text-color: #882424;

    &[data-scheme="dark"] {
        --code-background-color: #272822;
        --code-text-color: rgba(255, 255, 255, 0.9);
    }
}
